/* 다크모드 */
.dark-mode {background:#222; color:#fff;}
.dark-mode a {color: #fff;}
.dark-mode .nav {background-color:#222; border:1px solid #fff; box-sizing:border-box;}
.dark-mode .nav a {color:#fff;}
.dark-mode .list-bg {background:none;}
.dark-mode .list-bg .list-item {background-color:#444; box-shadow:none;}
.dark-mode .list-bg .list-item .list_link {color:#fff;}
.dark-mode .list-bg .list-item p {color:#fff;}
/* 다크모드 */

.nav {display:flex; width:100%; align-items:center; justify-content:space-between; background-color:#f5f5f5;}
.nav .nav_link {display:inline-block; padding:10px; color:#000; text-decoration:none; font-size:16px;}
.list-bg {padding:10px; background:rgb(249, 250, 255);}
.list-item {margin-bottom:5px; padding:20px; background:white; border-radius:10px; box-shadow:rgb(224, 224, 224) 0px 2px 4px 0px; opacity:1; transition:all 1s;}
.list-item h4 {margin:0; font-size:20px; font-weight:800;}
.list-item p {margin:5px 0px; color:#000;} 

.list-item .list_link {color:#000; text-decoration:none; }

.mgr10 {margin-right:10px;}

.pdr10 {padding-right:10px;}

.p-20 {padding:20px;}
.p-20 input {margin-bottom:10px; padding:10px; display:block; box-sizing:border-box;}
.p-20 button {padding:10px 15px; background:lightgray; border:none; border-radius:5px;}
/* .btn_login {color:#fff; background:transparent; border:none;} */

.hide {display:none;}

.dis-block {display:block;}
.dis-in-block {display:inline-block;}

.color-fff {color:#fff;}